//colors
$white: #fff;
$primary-color: #1eb0e9;
$secondary-color: #ff4e00;
$highlight-color: #15ab30;
$light-gray: #dedfd9;
$dark-gray: #444;

//mixins

//styles
ul {
  list-style: none;
  padding:0;
}

a {
  text-decoration: none;
  color: $white;
}

a:hover {
  color: $white;
}
.align-center{
  text-align:center;
}

.underline {
  width: 0%;
  height: 2px;
  transition: all 0.3s;
  background-color: transparent;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  margin: 0;
  background: $light-gray;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #222;

}

.wrapper {
  margin-top: 66px;

  h1.WorkItem-title {
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 0;
    display: block;
  }
  p {
    line-height: 30px;
    letter-spacing: 1.5px;
    font-size: 20px;
    opacity: 1;
    padding-bottom: 20px;
  }
}

button.btn.btn-default {
  background-color: transparent;
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  margin-right: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  .white{
    border: 2px solid #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #222;
    }
  }
  .black{
    border-bottom: 2px #140d1a;
    color:#222;
    &:hover{
      background:#140d1a;
      color:#fff
    }
  }

}

.header {
  .navbar {
    background: none;
    border: none;
    padding: 25px 0;
    ul {
      li {
        float: left;
        padding: 10px 25px;
        transition: all 0.5s;
        border-bottom: 2px transparent;

        //        &:hover .underline{
        //          width:100%;
        //          background-color:#fff;
        //        }
        &:hover {
          border-bottom: 2px solid #fff;
        }
        a {
          text-decoration: none;
        }
      }
    }

  }
}
.work-page {
  background-color: $secondary-color;

  .intro {
    padding: 50px 0;
    color: #fff;

    a {
      margin-top: 30px;
      font-weight: bold;
      display: block;
    }
  }
}

.coop-page {
  background: url(../images/coop-thumb-large.jpg) no-repeat center center;
  background-size: cover;
  background-position: 50% 0;
  color: #fff;
  padding-top: 50px;
  height: 90vh;
  min-height: 500px;

}

.arcini {
  background: url(../images/arcini-thumb-large.jpg) no-repeat center center;
  background-size: cover;
  background-position: 50% 0;
  color: #fff;
  padding-top: 50px;
  height: 90vh;
  min-height: 500px
}
.Johanna{
  background: url(../images/joy-thumb-large.jpg) no-repeat center center;
  background-size: cover;
  background-position: 50% 0;
  color: #222;
  padding-top: 50px;
  height: 90vh;
  min-height:  611px;
  .wrapper{
    margin-top: 100px;
  }
}

.Architecture{
  background: url(../images/arkdes-thumb-large.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 50px;
  height: 90vh;
  min-height: 500px;
  color: #fff;
}

.Prophet{
  background: url(../images/prophet-thumb-large.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 50px;
  height: 90vh;
  min-height: 500px;
  color: #140d1a;
}

.Public{
  background: url(../images/nordiska-thumb-large.jpg) no-repeat center center ;
  background-size: cover;
  padding-top: 50px;
  height: 90vh;
  min-height: 500px;
  color: #fff;
}
.footer{
  background-color: #fff;
  border-top: 1px solid #eee;
  .wrapper{
    margin:50px 0;
    .footer-text{
    text-align: center;

    .itemprop{
      color: #140d1a;
    }
  }
  }
}

//banner css start from here

.banner{
  background: url(../images/2.jpg) no-repeat center center;
  background-size: cover;
  height: 820px;
  color:$white ;
  position: relative;
  .header{
    h1:hover{
      opacity: 0.9px;
    }
    h2{
      font-size: 16px;

      &:hover{
        opacity:0.9;
      }
    }
  }
  .Sitehead-inner.align-center {
    font-size: 30px;
    position: absolute;
    bottom: 50%;
    left: 50%;
  }

}

//About page start from here


//banner css End from here
.Site-main{
  background-color: $white;
  padding-bottom: 50px;
  .Site-main-inner{
    width:70%;
    margin:0 auto;
    h1{
      margin-bottom: 40px;
    }
  }
}

.library{
  background-color:$primary-color;
  padding:50px 0;
  color: $white;
  h1{
    font-size: 70px;
  }
  h2{
    font-size: 18px;
    opacity: 0.9;

  }
}


.job-description{
  background-color:$white;
  padding:100px 0;
  .dis-box{
    img{
      float:left;
      margin-right: 20px;
      width: 30%;
      max-width: 100px;
    }
    h1{
      font-size: 18px;
    }
  }
}

.inspiration-list{
  padding-left: 50px;
  ul{
    li{
      margin: 20px 0;
      a{
        color: #222;
        font-size: 20px;

      }
    }
  }
}

.web-list{
  padding-left: 50px;
  ul{
    li{
      margin: 20px 0;
      font-size: 20px;
      a{
        color: #222;
        font-size: 20px;
      }
    }
  }

}

.aboutSection-foot{
  width: 60%;
  margin: 90px auto;
  font-size: 15px;
  margin-bottom: 0;
}

.resume{
  background-color:$primary-color;
  padding:50px 0;
  color: $white;
  h1{
    font-size: 70px;
  }
  h2{
    font-size: 18px;
    opacity: 0.9;

  }
}

.qualification-details {
  background-color: $white;
  padding: 70px 0;
  border-bottom: 1px solid #eee;
  span{
    color: #ccc;
    margin-left: 10px;
    font-size: 13px;

  }
  button.btn.btn-default.white{
    border: 2px solid $primary-color;
    color: $primary-color;
    font-size: 20px;
    padding:15px 20px;
    box-shadow: #00b3ee;
    span{
      color: $primary-color ;
      font-size: 20px;
    }
  }
}
//About page ends here

.blog{
  background-color: $secondary-color;
  .banner-blog{
    background-color: #3e5986;
    background-position: 75% 50%;
    min-height: 450px;
    color: $white;

    .header-left{
      margin:30px 0;
      h1{
        font-size: 30px;
      }
      h2{
        font-size: 16px;
        margin-top: 0;
      }
    }

  }
}

.looping{
  background-color: #fff;

  .Excerpt-box {
    width: 65%;
    margin: 100px auto;

    &:hover{
      opacity: 0.5;
    }

    .Excerpt-meta{
      color: #999;
      margin: 15px 0;
      font-size: 18px;
    }
  }
}


.contact-page{


}
.contact-inner{
  background-color: $white;

  .row.wrapper {
    width: 50%;
    margin: 0 auto;
  }

  .contact.social-icon {
    margin: 50px auto;
    background-color: #fff;
    ul{
      li{
        float: left;
        padding:10px 20px ;
        font-size: 60px;
        transition: all .5s;

        &:hover{
          transform: scale(1.3);
          }

        i.fa.fa-linkedin{
          color:#007bb6 ;
        }

        i.fa.fa-twitter{
          color:#00aced ;
        }
        i.fa.fa-envelope{
          color: #dd4b39;
        }
        }
      }
    }
  .form{
    margin-bottom: 80px;
    .form-group {
      width: 100%;
      margin-bottom: 0;

      input#usr {
        width: 50%;
        display: inline-block;
        float: left;
        padding: 30px 0;
        border-radius: 0;
      }
      input#pwd{
        width: 50%;
        display: inline-block;
        float: left;
        padding: 30px 0;
        border-left: none;
        border-radius: 0;
      }
      textarea.form-control {
        border-top: none;
      }
    }
    .form-btn-wrapper {
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-top: none;
      padding:10px;

      button.btn.btn-default.white {
        width: 92%;
        text-align: centter;
        margin: 10px 20px;
        padding: 17px;
        background-color: $primary-color;
        color: $white;
        text-transform: uppercase;
        border: 2px solid #007bb6;
      }
    }
  }

  }

